



/* backgroung image of main page */
body {

    background-image: url("../indexImages/background3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

/* keep projects with link into this box */
.projectLinks {

    max-width: 1000px;
    max-height: 1000px;
    background-color: teal;
    text-align: center;

}

/* link styling */
a:link {

  color: #BC9B6A;

}

a:visited {

color: #BC9B6A;

}

a:hover {

color: #FDB515;

}