



/* backgroung image of main page */
body {
    background-image: url("../indexImages/background6.jpg");
    background-repeat: repeat;
    background-size: 100%;
}

h1 {
  text-align: center;
}

h5 {
  text-align: center;
}


/* link styling */
a:link {
  color: #BC9B6A;
}

a:visited {
color: #BC9B6A;
}

a:hover {
color: #FDB515;
}