

/* TO DO!! move projects into a web page with easly link acess and breadcrumbs */


/* backgroung image of main page */
body {

    background-image: url("../indexImages/background.jpg");

}

/* TopHeader scetion of webstite */
.topHeader {
  
    float: center;
    max-width: 500px;
    max-height: 500px;
    margin: 10px;
    padding:10px;
    text-align: center;
    background-color: teal;

}

/* keep projects with link into this box */
.projectLinks {

    max-width: 1000px;
    max-height: 1000px;
    background-color: teal;
    text-align: center;

}

/* link styling */
a:link {

  color: #BC9B6A;

}

a:visited {

color: #BC9B6A;

}

a:hover {

color: #FDB515;

}


/*  Breadcrumb Styling */
/* ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
 */
