

/* backgroun image */
body {

    background-image: url(../ucBerkeleyImages/background.jpg);

}

/*styling of the header Section*/
.headerSection {

    background-color: #FDB515;
    max-width: 1000px;
    margin: 10px;
    padding: 10px;

}

/* styling of the prokect links*/
.linkBody {

    background-color: #FDB515;
    max-height: 1000px;
    max-width: 500px;
    margin: 10px;
    padding: 10px;

}

.projectSections {

    background-color: #003262;
    margin: 5px;
    padding: 10px;

}

/* 
ul{

    max-width: 400px;
    max-height:400px ;
    padding: 10px;
    margin: 10px;

} */

/* Link Styling */
a:link {
    color: #BC9B6A;
}

a:visited {
    color: #BC9B6A;
}

a:hover {
    color: #FDB515;
}

p {
    color: #BC9B6A;
}