

/* background image */
body {

    background-image: url(../ucBerkeleyImages/background3.jpg);
    background-repeat: repeat;
     background-size: 100%;
}

.container {

    background-color:#003262 ;
    opacity: 85%;

}

h5 {

    color: #ffffff;
}

/* .nav-wrapper{

    background color: #003262;

} */

/* Link Styling */
a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #FDB515;
}

p {
    color: #BC9B6A;
}