
/* colors 
#003262 - UC berkeley blue
#FDB515 - UC Berkeley gold */


/* background image */
body {

    background-image: url(../ucBerkeleyImages/background7.jpg);
    background-repeat: repeat;
     background-size: 100%;
}

.container {

    text-align: center;
    text-decoration: #BC9B6A;
}
h1{

    color: #BC9B6A;
}
h5 {

    color: #ffffff;
}

/* .nav-wrapper{

    background color: #003262;

} */

/* Naavbar logo */ 
/* .brand-logo {
    max-width: 50px;
    max-width: 50px;
} */


/* Link Styling */
a:link {
    color: #FDB515;
}

a:visited {
    color: #FDB515;
}

a:hover {
    color: red;
}

p {
    color: #BC9B6A;
}
